body {
    background-color: gray;
}
.lights {
    width: 150px;
    height: 470px;
    border: 4px solid white;
    background: white;
    box-sizing: border-box;
}
.red {
    width: 100%;
    height: 150px;
    background: red;
    border: 10px solid darkred;
    margin-bottom: 5px;
    box-sizing: border-box;
}
.yellow {
    width: 100%;
    height: 150px;
    background: yellow;
    margin-bottom: 5px;
    border: 10px solid darkgoldenrod;
    box-sizing: border-box;
}
.green {
    width: 100%;
    height: 150px;
    background: green;
    border: 10px solid darkgreen;
    box-sizing: border-box;
}
.red-sub {
    background: lightcoral;
    height: 50%;
    width: 100%;
    margin-top: 54%;
}
.yellow-sub {
    background: rgb(181, 181, 149);
    width:60px;
    height: 60px;
    margin: 70px 62px;
}
.green-sub{
    background: rgb(112, 165, 110);
    width:60px;
    height: 60px;
    margin: 70px 0px;
}